<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>와인 목록</title>
</head>
<body>
<h1>와인 목록</h1>

<a th:href="@{/wines/new}">+ 새 와인 등록</a>
<table>
  <thead>
  <tr>
<!--    <th>ID</th>-->
    <th>이름</th>
    <th>타입</th>
    <th>가격</th>
    <th>원산지</th>
    <th>비고</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="wine : ${wines}">
<!--    <td th:text="${wine.wineId}"></td>-->
    <td th:text="${wine.wineName}"></td>
    <td th:text="${wine.wineType}"></td>
    <td th:text="${wine.winePrice}"></td>
    <td th:text="${wine.country}"></td>
    <td>
      <a th:href="@{|/wines/${wine.wineId}/edit|}">수정</a>
      <form th:action="@{|/wines/${wine.wineId}/delete|}" method="post" style="display:inline;">
        <button type="submit">삭제</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>